*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}.nav-link {
    text-shadow: 1px 0px 0px;
}
p{
    text-shadow: 1px 0px 0px black;
}
.socials{
    padding: 4px 9px;
    margin: 0px 7px;
}
#bgmove {
height:50vh;
background-image: url('1.jpg'), url('2.jpg'), url('3.jpg');
background-size:cover;
background-attachment:fixed;
background-position: 15%;
background-repeat: repeat-x;
animation: animatedBackground 15s linear infinite alternate;

}#imgeff{
width:30% ;
height: 100%;
animation: fades 1s ease-in-out 15s linear infinity alternate;

}
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
  }
@keyframes animatedBackground {
    10%{
    background-image: url('1.jpg');
    background-position: 0% 0%;
    opacity:1;
    }
    50%{
    background-image:url('2.jpg');
    opacity:1;
    
    }
    100%{
    background-image: url('3.jpg');
    background-position:100% 0;
    opacity:1;
    }
        
}@keyframes fades{
    10%{
    opacity: 1;
    background-position: 0% 0%;
    }
    50%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
        
}


